body {
    padding-top: 30px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.page-header {
    margin: auto;
    text-align: center;
}

.page-subtitle {
    font-weight: lighter;
}

/* Hide Tableau bar at bottom of each viz */
.tab-toolbar, .tab-fill {
    display: none !important;
}